body{
  margin-top: 1%;
  background-color: #dae0db;
  background: url(https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg==) no-repeat;
}
[class*="__container"]{
	max-width: 1180px; 
	margin: 0px auto;
}
.main__container{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "l r";
  margin-top: 2%;
  gap: 5%;
}
